<!doctype html>
<html lang="ES">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Google fonts e icons -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images//logocasa.jpg"/>

    <title> Prueba
    </title>
</head>

<body>
    <!---Nav-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/images/menu.svg">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Quienes.html">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Galería.html">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Medida.html">Modelo a medida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Metraje.html">Modelos por Metraje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <h3>¿Listo para empezar tu proyecto? <b>haznos saber.</b></h3>
                    <p>Contactanos para un acesoramiento, detalles de ventas, sucursales, ideas etc. Nosotros estamos
                        disponibles todos los días desde las 8:00 am en adelante hasta las 6:00 pm.
                        quickbuild@CompanyName.com</p>
                    <h3>Ubicanos</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.416560505608!2d-70.60486018480161!3d-33.412382580784865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf41419b050b%3A0x7841168a137f28c9!2sAv%20Vitacura%202909%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1604902795213!5m2!1ses-419!2scl" width="auto" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Nombre Proyecto o compañía">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="number" class="form-control" id=""
                                    placeholder="Número telefónico(opcional)">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="btn btn-primary full-width">Contactar ventas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bgDark">
        <div class="container">
            <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
            <ul class="list-inline">
                <li class="list-inline-item footer-menu"><a href="Quienes.html">Quienes Somos</a></li>
                <li class="list-inline-item footer-menu"><a href="Contacto.html">Contacto</a></li>
                <li class="list-inline-item footer-menu"><a href="Galería.html">Galería</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg" class="img-fluid"></a>
                </li>
            </ul>
            <small>©2020 All Rights Reserved. Created by <a href="index.html" class="font-weight-bold" target="_blank"
                    rel="noopener">CompanyName</a></small>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>