<!doctype html>
<html lang="ES">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Google fonts e icons -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images//logocasa.jpg"/>

    <title>Prueba
    </title>
</head>

<body>
    <!---Nav-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/images/menu.svg">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Quienes.html">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Galería.html">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Medida.html">Modelo a medida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Metraje.html">Modelos por Metraje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="portfolio">
        <div class="container-fluid">
            <!---Galería -->
            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Vitacura</h2>
                            </a>
                            <a href="#">
                                <p>— Zona Urbana</p>
                            </a>
                        </div>
                        <img src="assets/images/pre1.jpg" class="img-fluid" alt="Portfolio 01">
                    </div>
                    <p>$4.450.000 <br>3 Habitaciones y 1 Baño</p>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Paine</h2>
                            </a>
                            <a href="#">
                                <p>— Zona Rural</p>
                            </a>
                        </div>
                        <img src="assets/images/pre2.jpeg" class="img-fluid" alt="Portfolio 02">
                    </div>
                    <p>$3.000.000 <br>1 Habitacion y 1 Baño</p>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Buin</h2>
                            </a>
                            <a href="#">
                                <p>— Zona Rural</p>
                            </a>
                        </div>
                        <img src="assets/images/pre3.jpg" class="img-fluid" alt="Portfolio 03">
                    </div>
                    <p>$3.800.000 <br> 2 Habitaciones, 1 baño</p>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Paine</h2>
                            </a>
                            <a href="#">
                                <p>— Zona Urbana</p>
                            </a>
                        </div>
                        <img src="assets/images/pre4.jpg" class="img-fluid" alt="Portfolio 04">
                    </div>
                    <p>$6.000.000 <br>4 Habitaciones, 2 Baño y Chimenea
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="bgDark">
        <div class="container">
            <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
            <ul class="list-inline">
                <li class="list-inline-item footer-menu"><a href="Quienes.html">Quienes Somos</a></li>
                <li class="list-inline-item footer-menu"><a href="Contacto.html">Contacto</a></li>
                <li class="list-inline-item footer-menu"><a href="Galería.html">Galería</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg" class="img-fluid"></a>
                </li>
            </ul>
            <small>©2020 All Rights Reserved. Created by <a href="index.html" class="font-weight-bold" target="_blank"
                    rel="noopener">CompanyName</a></small>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>