<!doctype html>
<html lang="ES">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Google fonts e icons -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images//logocasa.jpg"/>
    <title>Prueba
    </title>
</head>

<body>
    <!---Nav-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/images/menu.svg">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Quienes.html">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Galería.html">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Medida.html">Modelo a medida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Metraje.html">Modelos por Metraje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!---Portada-->
<section id="testimonial" class="divider">
    <div class="container">
        <div class="content-center">
            <h2>Casas Pre-Fabricadas</h2>
            <h4>Destacados</h4>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-container">
                        <img src="assets/images/pre1.jpg" alt="">
                        <div class="rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                            </ul>
                        </div>
                        <div class="testimonial-user">
                            <div class="row">
                                <div class="col-md-3 col-3">
                                    <img src="assets/images/logocasa.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-9 col-9">
                                    <h6>3 Habitaciones y 1 baño</h6>
                                    <span>$4.450.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-container">
                        <img src="assets/images/pre4.jpg" alt="">
                        <div class="rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                            </ul>
                        </div>
                        <div class="testimonial-user">
                            <div class="row">
                                <div class="col-md-3 col-3">
                                    <img src="assets/images/logocasa.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-9 col-9">
                                    <h6>4 Habitaciones, 2 baño y 1 Chimenea</h6>
                                    <span>$6.000.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-container">
                        <img src="assets/images/pre3.jpg" alt="">
                        <div class="rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                            </ul>
                        </div>
                        <div class="testimonial-user">
                            <div class="row">
                                <div class="col-md-3 col-3">
                                    <img src="assets/images/logocasa.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-9 col-9">
                                    <h6>2 Habitaciones y 1 baño</h6>
                                    <span>$3.800.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <div class="control-button">
                    <img src="assets/images/arrow-borderless-left.svg" class="img-fluid">
                </div>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <div class="control-button">
                    <img src="assets/images/arrow-borderless-right.svg" class="img-fluid">
                </div>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<footer class="bgDark">
    <div class="container">
        <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
        <ul class="list-inline">
            <li class="list-inline-item footer-menu"><a href="Quienes.html">Quienes Somos</a></li>
            <li class="list-inline-item footer-menu"><a href="Contacto.html">Contacto</a></li>
            <li class="list-inline-item footer-menu"><a href="Galería.html">Galería</a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg" class="img-fluid"></a>
            </li>
        </ul>
        <small>©2020 All Rights Reserved. Created by <a href="index.html" class="font-weight-bold" target="_blank"
                rel="noopener">CompanyName</a></small>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="assets/js/jquery.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>