<!doctype html>
<html lang="ES">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Google fonts e icons -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images//logocasa.jpg" />

    <title>Prueba
    </title>
</head>

<body>
    <!---Nav-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/images/menu.svg">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Quienes.html">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Galería.html">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Medida.html">Modelo a medida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Metraje.html">Modelos por Metraje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---Portada-->

    <section id="pricing" class="divider">
        <div class="container">
            <div class="row">
                <div class="content-center">
                    <h2><b>Quienes Somos</b></h2>
                </div>
                <div class="content-center">
                    <h2><b>Objetivos</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="pricing-container">
                        <div class="plans plan-light">
                            <form action="/eliminar_producto/" method="GET">
                                <p>Ingrese Id para eliminar Producto</p>
                               <input type="text" name="txt_id"><br>
                               <input type="submit" value="Eliminar" name="btn_eliminar">
                           </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pricing-container">
                        <div class="plans plan-dark">
                            <h4>Fabricación</h4>
                            <ul class="mt-3">
                                <li>
                                    "CompanyName" tiene más de 14 años de experiencia en la fabricación de
                                    estructuras modulares y clientes de todas las regiones geográficas. A estas alturas,
                                    tiene la capacidad de entregar tanto dentro del presupuesto como dentro del período
                                    de tiempo especificado para cumplir con los requisitos del alcance del trabajo. La
                                    capacidad de producción en la fábrica es actualmente de 30 unidades por día
                                    (capacidad para aumentar) lograda con más de 100 trabajadores de fábrica a tiempo
                                    completo y más de 15.000 metros cuadrados de fábrica. <br>
                                    <br> Nuestras construcciones han sido aprobadas y probadas para
                                    cumplir con estándares específicos en varias regiones geográficas como CE en Europa
                                    y cumplimiento con el Código de Construcción de Australia. La fábrica ha adaptado el
                                    sistema de gestión y eficiencia energética ISO 9001 y SGS. El control de calidad
                                    (QC) es uno de los elementos más críticos de cualquier proyecto y nuestro personal
                                    de QC está bien informado y presta atención a los detalles sobre la calidad de
                                    producción de lo que se suministra a todos nuestros clientes.</li>
                            </ul>
                            <a href="Galería.html" class="btn btn-alternate full-width mt-4">Galería</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bgDark">
        <div class="container">
            <img src="assets/images/contru.jpg" class="logo-brand" alt="logo">
            <ul class="list-inline">
                <li class="list-inline-item footer-menu"><a href="Quienes.html">Quienes Somos</a></li>
                <li class="list-inline-item footer-menu"><a href="Contacto.html">Contacto</a></li>
                <li class="list-inline-item footer-menu"><a href="Galería.html">Galería</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg" class="img-fluid"></a>
                </li>
                <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg" class="img-fluid"></a>
                </li>
            </ul>
            <small>©2020 All Rights Reserved. Created by <a href="index.html" class="font-weight-bold" target="_blank"
                    rel="noopener">CompanyName</a></small>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>